<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">


<dom-module id="home-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .bg{
        height:100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/banco_portada.png);
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35%;
      }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <app-location route="{{route}}"></app-location>

    <div class="bg">
      <div class="container">
        <button type="button" class="btn btn-light" on-click="openNuevoUsuario" >Únete al movimiento</button>

      </div>
    </div>


  </template>

  <script>
      class HomePage extends Polymer.Element {
          static get is() { return 'home-page'; }

          openNuevoUsuario(){
            console.log("Acceso desde la home")
            this.set('route.path', '/nuevo-usuario');
          }

      }



      window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
