<link rel = "import" href = "../bower_components/polymer/polymer-element.html">
<link rel = "import" href = "../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-label/iron-label.html">
<link rel="import" href="shared-styles.html">


<dom-module id="mi-cuenta">
  <template>
    <style include="shared-styles">

      #contenedorCuentas{
        height: 100%;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #unaCuenta{
        width:95%;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      #alignedDialog {
        margin: 0;
        border: 2px solid;
        border-color: red;
        background-color: #f1f8e9;
        color: red;
      }

      [contenteditable]:after {
        width: 8px;
        height: 8px;
        display: inline-block;
        content: " ";
      }

      [contenteditable]:hover:after {
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiUlEQVQ4y2NgGFKgs7OTl2zNEyZMmAgEDZMmTeogWTNQUwVQcyeIDaLnz5/PQYrmssmTJ1sC6QQg7gXiFlI0l4I0Q9lOQNuLiNYMVFwCxFZQtiPQgEKSNAM1WMM0k2wzTDPQ+Q5AdjEpfs6CRRPJmqEGvAC6IAlId4NcQk58vwDih0DbMxhGDgAAx6ZVXMd4yEMAAAAASUVORK5CYII=");
      }

      [contenteditable]:focus:after {
        width: 0;
        content: "";
      }

      #alias  br {
        display: none
      }

    </style>

    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      auto
      id="getSaldoAjax"
      method="get"
      handle-as="json"
      last-response="{{saldo}}"
      on-response="_cleanup">
    </iron-ajax>

    <iron-ajax
      id="delteCuentaAjax"
      method="delete"
      handle-as="json"
      on-response="procesaDelete"
      on-error="errorDelete">
    </iron-ajax>

    <iron-ajax
      id="setAliasAjax"
      method="put"
      handle-as="json"
      on-error="errorsetAlias">
    </iron-ajax>

    <div id="contenedorCuentas">
      <div elevation=2 id="unaCuenta">
        <div id="encabezadoCuenta" class="row mt-2 ml-2 mb-2" >
          <div id="nombreCuenta" class="col-2 my-auto">
              Alias cuenta:
          </div>
        <div id="alias" class="col-4 my-auto d-flex align-items-center" contenteditable="true" on-blur="_saveAlias">
          {{cuenta.alias}}
        </div>
          <div id="botonesCuenta" class="col ml-2 mr-2 pb-2" >
            <button type="button" class="btn float-right ml-1 mr-1 btn-outline-danger waver-effect" accion="eliminar" on-click="delteCuenta" >Eliminar</button>
            <button type="button" class="btn float-right ml-1 mr-1 btn-outline-primary waver-effect" accion="operar" on-click="_operacion" >Operar</button>
            <button type="button" class="btn float-right ml-1 mr-1 btn-outline-primary waver-effect" accion="consultar" on-click="openDialog" >Movimientos</button>
            </div>
        </div>
        <div id="infoCuenta" class="row mt-2 ml-2 mb-2">
          <div id="datosCuenta" class="col-8 my-auto">
            Numero de Cuenta: {{cuenta._id}}
          </div>
          <div id="saldoCuenta" class="col-3 float-right ml-2 mr-2 pb-2" >
            <p class="float-right">Saldo: {{saldo.saldo}}</p>
          </div>
        </div>
      </div>
    </div>

    <paper-dialog id="alignedDialog" no-overlap vertical-align="top" horizontal-align="center" >
      {{errormsg}}
    </paper-dialog>
    </template>

    <script>

    class MiCuenta extends Polymer.Element {
      static get is() { return 'mi-cuenta'; }

      static get properties() {
        return {
           cuenta: {
             type: Object,
             observer(newValue,oldValue){
               // este observer permite esperar hasta tener una cuenta para calcular su saldo (inicialmente undefined)
               this.getSaldo();
             }
           },
          storedUser: Object,
          saldo: Number,
          accion: String,
          errormsg: String,
          alias: String,
          dirty: {
            type:Boolean,
            observer(newValue,oldValue){
              if(newValue){
                console.log("La cuenta se ha ensuciado")
                this.getSaldo()
              }else{
                console.log("La cuenta se ha limpiado")
              }
            }
          }
        }
      }

      ready() {
        super.ready();
      }

      // Eventos de los botones de las cuentas
      openDialog(e){
        this.dispatchEvent(new CustomEvent('openDialogEvent',{ bubbles:true, composed:true, detail: { cuenta: this.cuenta }}));
        console.log("Queremos abrir el dialogo de moviemintos");
      }

      //Consulta Ajax del saldo de la cuenta
      getSaldo() {
          this.$.getSaldoAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
          this.$.getSaldoAjax.url = "https://api.cuarentaydos.net/beta/cuentas/" + this.cuenta._id + "/saldo";
          this.$.getSaldoAjax.generateRequest();
      }

      //Elimina la cuenta
      delteCuenta() {
          this.$.delteCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
          this.$.delteCuentaAjax.url = "https://api.cuarentaydos.net/beta/cuentas/" + this.cuenta._id;
          this.$.delteCuentaAjax.generateRequest();
      }

      //Procesa la salida del delete de la cuenta
      procesaDelete(e,response){
        console.log("hemos borrado al cuenta. Tenemos que refrescar la lista")
        this.dispatchEvent(new CustomEvent('actualizaCuentas', {bubbles:true,composed:true }));
      }

      errorDelete(e,response){
        console.log("procesamos el error del delete")
        if(e.detail.request.xhr.response){
          this.errormsg = e.detail.request.xhr.response.msg;
          this.$.alignedDialog.positionTarget = this.$.botonesCuenta
          this.$.alignedDialog.open();
        } else {
          //Si el api fall con un 502 no llegan las cabeceras de CORS y no tenemos respuesta
          this.dispatchEvent(new CustomEvent('actualizaCuentas', {bubbles:true,composed:true }));
        }
      }

      _saveAlias(){
        var newAlias= this.$.alias.textContent.replace(/(\r\n|\n|\r)/gm," ");
        console.log("Se cambia el alias de la cuenta a: " + newAlias);
        this.$.setAliasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
        this.$.setAliasAjax.url = "https://api.cuarentaydos.net/beta/cuentas/" + this.cuenta._id;
        this.$.setAliasAjax.body = '{"alias": "'+ newAlias + '" , "activo":true}';
        this.$.setAliasAjax.generateRequest();
      }
      errorsetAlias(e){
        console.log(e.detail.request.xhr.response)
        console.log("no he podido actualziar el alias")
      }
      _operacion(){
        this.dispatchEvent(new CustomEvent('operacionEvent',{ bubbles:true, composed:true, detail: { cuenta: this.cuenta }}));
      }
      _cleanup(){
        this.dirty = false;
        this.dispatchEvent(new CustomEvent('cleanupEvent',{ bubbles:true, composed:true, detail: { cuenta: this.cuenta }}));
      }
    }

    window.customElements.define(MiCuenta.is, MiCuenta);
  </script>
</dom-module>
