<link rel = "import" href = "../bower_components/polymer/polymer-element.html">
<link rel = "import" href = "../bower_components/paper-button/paper-button.html">
<link rel = "import" href = "../bower_components/paper-styles/paper-styles.html">
<link rel = "import" href = "../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="shared-styles.html">


<dom-module id="mi-movimiento">
  <template>
    <style include="shared-styles">
    paper-card {
       --paper-card-background-color: #fff;
    }

    .cuentas {
      /* Si el ancho es el 100, hace scroll horizontal */
      width: 97%;
      margin: 2px;
      border-radius: 10px;
    }

    .dinero{

    }


    #contenedorMovimientos{
      height: 100%;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #unMovimiento{
      width:95%;
      border-radius: 25px;
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <div id="contenedorMovimientos">
      <div elevation=2 id="unMovimiento">
        <div class="row">
          <div class="col">
            <iron-icon  icon="device:access-time"></iron-icon>Fecha: {{mifecha}}
          </div>
          <div class="col">
            <iron-icon  icon="icons:subject"></iron-icon>Concepto: [[movimiento.concepto]]
          </div>
          <div class="col">
            <iron-icon  icon="icons:trending-up"></iron-icon>Importe: <span class="dinero">{{miimporte}}</span>
          </div>
        </div>
      </div>
      </div>

    </template>

    <script>

    class MiMovimiento extends Polymer.Element {
      static get is() { return 'mi-movimiento'; }
      static get properties() {
        return {
          mifecha: {
            type:String,
            value: ""
          },
          miimporte: {
            type:String,
            value: ""
          },
          movimiento: {
            type: Object,
            observer(newValue,oldValue){
              var date = new Date(newValue.fecha);
              var dia = date.getDate()
              var mes = date.getMonth()+1
              var ano = date.getFullYear()
              var hora = date.getHours()
              var minu = date.getMinutes()
              this.mifecha = dia + "/" + mes + "/" + ano+ " " +hora + ":" + minu
              if(newValue.tipo == 0){
                this.miimporte = newValue.importe * -1
              } else {
                this.miimporte = newValue.importe
              }
            }
          }

        }
      }
      ready() {
        super.ready();
      }
    }

    window.customElements.define(MiMovimiento.is, MiMovimiento);
  </script>
</dom-module>
