<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">

<dom-module id="mi-traspaso">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      paper-input {
        max-width: 400px;
        margin: auto;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
  </style>
  <!-- estilos de bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<!-- API de cambio de divisas -->
    <iron-ajax
      auto
      id="registerDivisasAjax"
      method="get"
      handle-as="json"
      url="https://free.currencyconverterapi.com/api/v6/currencies"
      last-response="{{misdivisas}}"
      on-response="_processDivisas"
      on-error="handleUserError">
    </iron-ajax>

    <iron-ajax
      id="getCambioAjax"
      method="get"
      handle-as="json"
      on-response="_saveIngresoDivisas"
      on-error="handleIngresoError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      id="getCuentasAjax"
      method="get"
      handle-as="json"
      last-response="{{cuentas}}">
    </iron-ajax>

    <iron-ajax
      id="postMovAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleMovOK"
      on-error="handleMovError">
    </iron-ajax>

    <template is="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error:</strong> [[error]]</p>
    </template>
    <div class = "row">
      <div class="col-4 mx-auto">
        <paper-dropdown-menu label="Cuenta Origen">
          <paper-listbox id="cuentaCargo" slot="dropdown-content" class="dropdown-content" on-iron-items-changed="_selectAccount">>
            <template is="dom-repeat" items="{{cuentas}}"  id="itemTemplate">
              <paper-item id="{{item._id}}">{{item.alias}}</paper-item>
             </template>
           </paper-listbox>
         </paper-dropdown-menu>
       </div>
       <div class="col-4 mx-auto">
         <paper-dropdown-menu label="Cuenta Destino">
           <paper-listbox id="cuentaAbono" slot="dropdown-content" class="dropdown-content">
             <template is="dom-repeat" items="{{cuentas}}">
               <paper-item id="{{item._id}}">{{item.alias}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>
       <div class = "col-4 mx-auto ">
         <paper-input id="concepto" label="Concepto" required>
       </div>
     </div>
     <div class = "row">
       <div class = "col-4 mx-auto ">
         <paper-input id="importe" label="Importe" type="number" required>
       </div>
       <div class = "col-4 mx-auto ">
         <paper-dropdown-menu id="divisasSelector" label="Divisa" >
           <paper-listbox id="divisasList" slot="dropdown-content" class="dropdown-content">
             <template is="dom-repeat" items="{{listadodivisas}}" >
               <paper-item id="{{item.codigo}}">{{item.descripcion}}</paper-item>
             </template>
           </paper-listbox>
         </paper-dropdown-menu>
       </div>
     </div>
     <br>

     <div class="row">
       <div class="col">
         <paper-button raised class="btn btn-outline-info waver-effect float-left" on-click="_cancelAll" >Volver</paper-button>
       </div>
       <div class="col float-right pb-2 pt-2">
        <paper-button raised class="btn btn-outline-info waver-effect float-right" on-click="enviaIngreso" >Enviar</paper-button>
       </div>
     </div>

     <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
       <p hidden$="[[storedUser.loggedin]]">Debes <a href="/register-login">identificarte</a> para acceder a la aplicación.</p>
     </div>

  </template>

  <script>
      class miTraspaso extends Polymer.Element {
          static get is() { return 'mi-traspaso'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String,
                  miOperacion:{
                    type: Number,
                    value: 0
                  },
                  listadodivisas: {
                    type:Array,
                    value: []
                  },
                  cuenta:{
                    type:Object,
                    observer(newVal){
                      //Si se modifica la cuenta, hay que seleccionarla.
                      console.log("La cuenta ha cambiado: " + newVal._id)
                      this._selectAccount()
                  }
                }

              }
            }

//Obetener info
          _getCuentas() {
              this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
              this.$.getCuentasAjax.url = "https://api.cuarentaydos.net/beta/usuarios/" + this.storedUser.id + "/cuentas?showid=true&tipo=" + this.cuenta.tipo;
              this.$.getCuentasAjax.generateRequest();
          }

          _processDivisas(e){
            var divisas = e.detail.response.results
            var milistado = []
            Object.keys(divisas).forEach(function(key,index){
              var unaDivisa = { "codigo" : key , "descripcion" : divisas[key].currencyName }
              milistado.push(unaDivisa)
            })
            this.listadodivisas = milistado;
            this.$.divisasList.selectIndex(milistado.map(function(e){return e.codigo;}).indexOf('EUR'))
            // console.log(e.target.selectedItem.id)
          }

//Persistir info
          enviaIngreso() {
              if(this.$.cuentaCargo.selectedItem && this.$.cuentaAbono && this.$.cuentaCargo.selectedItem && this.$.importe && this.$.importe.value != "" && this.$.divisasList.selectedItem){
                var divisa = this.$.divisasList.selectedItem.id
                if(divisa != "EUR"){
                  console.log("hay que convertir las divisas")
                  this.$.getCambioAjax.url="https://free.currencyconverterapi.com/api/v6/convert?q="+ divisa +"_EUR&compact=ultra"
                  this.$.getCambioAjax.generateRequest();
                }else{
                  console.log("Todo en euros. Seguimos")
                  var miconcepto = this.$.concepto.value
                  var miidori = this.$.cuentaCargo.selectedItem.id
                  var miiddes = this.$.cuentaAbono.selectedItem.id
                  var miimporte = this.$.importe.value
                  this.saveTraspaso(miidori,miiddes,miimporte,miconcepto);
                }
            }else{
                console.log("todos los campos son obligatorios")
            }
          }
          _saveIngresoDivisas(e){
            var miidori = this.$.cuentaCargo.selectedItem.id
            var miiddes = this.$.cuentaAbono.selectedItem.id
            var cambio=Object.values(e.detail.response)
            var miimporte = cambio * this.$.importe.value
            var miconcepto = this.$.concepto.value
            this.saveTraspaso(miidori,miiddes,miimporte.toFixed(2),miconcepto);
          }


          saveTraspaso(cuentaCargo, cuentaAbono,importe,concepto){
            this.$.postMovAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
            this.$.postMovAjax.body = '{"tipo" : 2, "importe":' + importe +',"concepto" : "'+ concepto +'", "cuentaCargo" : "' + cuentaCargo + '","cuentaAbono" : "'+ cuentaAbono +'" }'
            this.$.postMovAjax.url = "https://api.cuarentaydos.net/beta/transacciones";
            this.$.postMovAjax.generateRequest();
          }
          handleMovError(e){
            this.error = e.detail.request.xhr.response.msg;
          }

          handleMovOK(){
            console.log("Hemos guardado esto. Volvemos a posicion Global")
            this.error = '';
            this.$.importe.value = undefined;
            this.$.concepto.value = undefined;
            this.dispatchEvent(new CustomEvent('returnEvent',{bubbles:true,composed:true}));
          }

          _selectAccount(){
            //establecemos el item seleccionado al que recibimos
            //Es necesario resetear completamente el selkector porque paper-dropdown es cortito
            this.$.cuentaCargo.selectIndex(-1);
            this._getCuentas()
            this.$.itemTemplate.render();
            //Tenemos que forzar la actualziacion sincrona, porque paper-dropdown no se entera
            this.$.cuentaCargo.forceSynchronousItemUpdate()
            if(this.cuentas){
              var elementPos = this.cuentas.map(function(x) {return x._id; }).indexOf(this.cuenta._id);
              console.log(this.cuentas)
              console.log("buscamos la posicion del indice del item "+this.cuenta._id+ " que es " + elementPos )
              this.$.cuentaCargo.selectIndex(elementPos)
            }
          }

          _cancelAll(){
            console.log("Cancelamos y volvemos a pos Global")
            this.error = '';
            this.$.importe.value = undefined;
            this.$.concepto.value = undefined;
            this.dispatchEvent(new CustomEvent('returnEvent',{bubbles:true,composed:true}));
          }

      }

      window.customElements.define(miTraspaso.is, miTraspaso);
  </script>
</dom-module>
