<link rel = "import" href = "../bower_components/polymer/polymer-element.html">
<link rel = "import" href = "../bower_components/paper-styles/paper-styles.html">
<link rel = "import" href = "../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="mi-movimiento.html">
<link rel="import" href="shared-styles.html">


<dom-module id="mis-movimientos">
  <template>
    <style include="shared-styles">

    :host {
      display: block;
    }

    #listado{
      /* background-color: var(--primary-color); */
      border-radius: 5px;
      height: auto;
      /* height: 40vh;
      overflow-y: scroll; */

    }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}" ></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      auto
      id="getMovimientosAjax"
      method="get"
      handle-as="json"
      last-response={{movimientos}}>
    </iron-ajax>

      <div class="row">
        <div class="col" >
          <p>Estos son tus Movimientos:</p>
        </div>
        <div class="col float-right pb-2 pt-2">
          <paper-button raised class="btn btn-outline-info waver-effect float-right" dialog-dismiss >Cerrar</paper-button>
        </div>
      </div>

      <div id="listado">
      <iron-list items="[[movimientos]]" as="item" id="listadoMov">
        <template>
          <mi-movimiento movimiento=[[item]]></mi-movimiento>
        </template>
      </iron-list>
    </div>
    <div class="row">
      <div class="col float-right pb-2 pt-2">
        <paper-button raised class="btn btn-outline-info waver-effect float-right" dialog-dismiss >Cerrar</paper-button>
      </div>
    </div>

    </template>

    <script>

    class MisMovimientos extends Polymer.Element {
      static get is() { return 'mis-movimientos'; }
      static get properties() {
        return {
          cuenta: Object,
          storedUser: Object
        };
      }

      getMovimientos() {
        console.log("getMovimientos de " + this.cuenta._id)
          // add token authorization and generate Ajax request
          this.$.getMovimientosAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
          this.$.getMovimientosAjax.url = "https://api.cuarentaydos.net/beta/cuentas/" + this.cuenta._id + "/movimientos";
          this.$.getMovimientosAjax.generateRequest();
        }
    }
    window.customElements.define(MisMovimientos.is, MisMovimientos);
  </script>
</dom-module>
