<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="mi-cuenta.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="mis-movimientos.html">


<dom-module id="mis-cuentas">
  <template>
    <style include="shared-styles">
        :host {
          display: block;
        }

        #listado{
          background-color: var(--primary-color);
          border-radius: 5px;
          height: auto;
          min-height: 100px;
          /* height: 40vh;
          overflow-y: scroll; */
        }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}" ></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
            id="getCuentasAjax"
            method="get"
            handle-as="json"
            last-response="{{cuentas}}">
    </iron-ajax>

    <iron-ajax
            id="nuevaCuentaAjax"
            method="post"
            handle-as="json"
            content-type="application/json"
            on-response="getCuentas">
    </iron-ajax>

    <div class="row">
      <div class="col" >
        <p>Estas son tus cuentas:</p>
      </div>
      <div class="col float-right">
        <button type="button" class="btn float-right btn-outline-success waver-effect" on-click="nuevaCuenta">Contratar</button>
      </div>
    </div>

      <div id="listado">
        <div id="listaVacia" hidden$="[[!vacio]]">
          <center><br>
          <p>Parece que no tienes ninguna cuenta aun</p>
          <p>Añade una apretando <button type="button" class="btn btn-success waver-effect" on-click="nuevaCuenta">Contratar</button></p></center>
          </div>
      <iron-list items="[[cuentas]]" as="item" id="listadoCuentas">
        <template>
          <mi-cuenta cuenta="[[item]]" dirty={{dirty}}></mi-cuenta>
        </template>
      </iron-list>
    </div>

  </template>

  <script>
    class misCuentas extends Polymer.Element {
        static get is() { return 'mis-cuentas'; }

        static get properties() {
            return {
                storedUser: Object,
                cuentas: {
                  type: Object,
                  observer(newVal){
                    (newVal.length == 0) ? this.vacio = true : this.vacio=false
                  }
                },
                dirty:  Boolean,
                vacio: {
                  type:Boolean,
                  value: true
                }
            };
        }

        ready() {
          super.ready();
          this.addEventListener('actualizaCuentas', function (e)   {
            console.log("Se ha recibido el evento actualizaCuentas en mis cuentas");
            this.getCuentas();
          });
          if(this.storedUser)this.getCuentas();
        }

        getCuentas() {
            this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
            this.$.getCuentasAjax.url = "https://api.cuarentaydos.net/beta/usuarios/" + this.storedUser.id + "/cuentas?showid=true&tipo=0";
            this.$.getCuentasAjax.generateRequest();
        }

        nuevaCuenta(){
          var peticion = {
            "owner" : this.storedUser.id,
            "alias" : "Nueva cuenta corriente",
            "tipo" : 0
          };
          this.$.nuevaCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.token;
          this.$.nuevaCuentaAjax.url = "https://api.cuarentaydos.net/beta/cuentas";
          this.$.nuevaCuentaAjax.body = peticion;
          this.$.nuevaCuentaAjax.generateRequest();
        }
    }

    window.customElements.define(misCuentas.is, misCuentas);
  </script>
</dom-module>
