<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/js-md5/build/md5.min.js"></script>

<link rel="lazy-import" href="home-page.html">
<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="posicion-global.html">
<link rel="lazy-import" href="not-found.html">
<link rel="lazy-import" href="nuevo-usuario.html">
<link rel="lazy-import" href="nueva-operacion.html">


<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }

      #paginas {
        width: 50wv;
      }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

      <!-- Main content -->
      <app-header-layout>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title>Banco 42</div>
            <a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Log in</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Hola [[storedUser.name]]!</span><img src="https://www.gravatar.com/avatar/[[avatar]]?d=https://robohash.org/[[avatar]].png" width="42px" />
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <home-page name="home-page"></home-page>
          <register-login name="register-login"></register-login>
          <posicion-global name="posicion-global" dirty={{dirty}}></posicion-global>
          <not-found name="not-found"></not-found>
          <!-- <log-out name="log-out"></log-out> -->
          <nuevo-usuario name="nuevo-usuario"></nuevo-usuario>
          <nueva-operacion name="nueva-operacion" cuenta="{{cuentaBase}}"></nueva-operacion>
        </iron-pages>

      </app-header-layout>
  </template>

  <script>
      class MyApp extends Polymer.Element {
          static get is() { return 'my-app'; }

          static get properties() {
              return {
                  page: {
                      type: String,
                      value: "home-page",
                      reflectToAttribute: true,
                      observer: '_pageChanged',
                  },
                  routeData: Object,
                  avatar:String,
                  subroute: String,
                  // This shouldn't be neccessary, but the Analyzer isn't picking up
                  // Polymer.Element#rootPath
                  rootPath: String,
                  dirty: {
                    type: Boolean,
                    value: false
                  },
                  storedUser: {
                    type: Object,
                    observer(newValue,oldValue){
                      if(newValue && newValue.email){
                       this.avatar = md5(newValue.email)
                       }
                    }
                  },
                  cuentaBase: Object
              };
          }

          static get observers() {
              return [
                  '_routePageChanged(routeData.page)',
              ];
          }
          ready() {
            this.addEventListener('returnEvent', function (e)   {
              this.dirty=true;
              this.set('route.path', '/posicion-global');
            });

            this.addEventListener('operacionEvent', function (e)   {
              this.cuentaBase = e.detail.cuenta;
              this.set('route.path', '/nueva-operacion');
            });

            this.addEventListener('cleanupEvent', function (e)   {
              window.dispatchEvent(new Event('resize'));
              this.dirty = false;
            });
            super.ready();
          }

          _routePageChanged(page) {
              // If no page was found in the route data, page will be an empty string.
              // Default to 'view1' in that case.
              this.page = page || 'home-page';
          }

          _pageChanged(page) {
              // Load page import on demand. Show 404 page if fails
              var resolvedPageUrl = this.resolveUrl(page + '.html');
              Polymer.importHref(
                  resolvedPageUrl,
                  null,
                  this._showPage404.bind(this),
                  true);
          }

          _showPage404() {
              this.page = 'not-found';
          }
      }

      window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
