<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="nuevo-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      paper-input {
        max-width: 400px;
        margin: auto;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
  </style>
  <!-- estilos de bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Nuevo Usuario</h1>
        <p><strong>Introduce tus datos para darte de alta como usuario</strong> </p>

              <template is="dom-if" if="[[error]]">
                <p class="alert-error"><strong>Error:</strong> [[error]]</p>
              </template>

        <div class = "row">
      <div class="col-4">
        <paper-input label="Nombre" value="{{formData.nombre}}" required>
          <iron-icon icon="perm-identity" slot="prefix"></iron-icon>
        </paper-input>
      </div>
      <div class="col-4">
        <paper-input label="Primer apellido" value="{{formData.apellido1}}" required>
          <iron-icon icon="chevron-right" slot="prefix"></iron-icon>
        </paper-input>
      </div>
      <div class="col-4">
        <paper-input label="Segundo apellido" value="{{formData.apellido2}}" required>
          <iron-icon icon="chevron-right" slot="prefix"></iron-icon>
        </paper-input>
      </div>
    </div>
        <div class = "row">
      <div class="col-6">
        <paper-input label="DNI" value="{{formData.dni}}" required>
          <iron-icon icon="account-balance-wallet" slot="prefix"></iron-icon>
        </paper-input>
      </div>
      <div class="col-6">
        <paper-input label="Teléfono" type="tel" auto-validate pattern="[0-9]*" error-message="Sólo numeros" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" value="{{formData.telefono}}" required>
          <iron-icon icon="settings-phone" slot="prefix"></iron-icon>
        </paper-input>
      </div>
    </div>
        <div class = "row">
    <div class="col-6">
      <paper-input label="email" type="email" value="{{formData.email}}" required>
        <iron-icon icon="mail" slot="prefix"></iron-icon>
      </paper-input>
    </div>
    <div class="col-6">
      <paper-input label="contraseña" type="password" value="{{formData.password}}" required>
        <iron-icon icon="fingerprint" slot="prefix"></iron-icon>
      </paper-input>
    </div>
  </div>
        <div class = "row">
    <div id="botonNuevoUsuario" class="col float-right ml-2 mr-2 pb-2" >
      <button type="button" class="btn float-rigth btn-primary" on-click="postRegister" >Enviar</button>
    </div>
  </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Ya estás logado en tu cuenta. Puedes acceder a tu <a href="/posicion-global">Posicion Global</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>

  </template>

  <script>
      class nuevoUsuario extends Polymer.Element {
          static get is() { return 'nuevo-usuario'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: {
                    type: Object,
                    value: {}
                  },
                  error: String
              }
          }

          postRegister() {
              this.$.registerLoginAjax.url = 'https://api.cuarentaydos.net/beta/usuarios';
              this.$.registerLoginAjax.body = this.formData;
              this.$.registerLoginAjax.generateRequest();
          }

          handleUserResponse(event, request) {
            console.log("Usuario OK")
            var resp = event.detail.response;
            this.error = '';
            this.storedUser = {
                  id: resp.id,
                  name: resp.name,
                  email: resp.email,
                  tipo: resp.tipo,
                  token: resp.token,
                  loggedin: true
             };
                  // redirect to Poscion Global
                  this.set('route.path', '/posicion-global');
              }

          handleUserError(event) {
            console.log("Usuario KO")
            console.log(event.detail.request.xhr.response)
              this.error = event.detail.request.xhr.response.msg;
          }
      }

      window.customElements.define(nuevoUsuario.is, nuevoUsuario);
  </script>
</dom-module>
