<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="mi-traspaso.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="mi-operacion.html">

<dom-module id="nueva-operacion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      paper-input {
        max-width: 400px;
        margin: auto;
      }
      iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
      }

      #menuOperaciones{
        --paper-tabs-selection-bar-color : var(--app-primary-color);
      }

    </style>
    <!-- estilos de bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}" ></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h1>Nueva operación</h1>
        <p><strong>Realiza una nueva operación</strong> </p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-tabs selected="{{miOperacion}}" id="menuOperaciones">
          <paper-tab>Ingreso de efectivo</paper-tab>
          <paper-tab>Retirada de efectivo</paper-tab>
          <paper-tab>Traspaso entre mis cuentas</paper-tab>
        </paper-tabs>
        <iron-pages id="paginasOperacion" selected="{{miOperacion}}">
          <mi-operacion tipo-Operacion=1 cuenta="[[cuenta]]"></mi-operacion>
          <mi-operacion tipo-Operacion=0 cuenta="[[cuenta]]"></mi-operacion>
          <mi-traspaso cuenta="[[cuenta]]"></mi-traspaso>
        </iron-pages>
      </div>

      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <p hidden$="[[storedUser.loggedin]]">Debes <a href="/register-login">identificarte</a> para acceder a la aplicación.</p>
      </div>
    </div>

  </template>

  <script>
    class nuevaOperacion extends Polymer.Element {
      static get is() { return 'nueva-operacion'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String,
          miOperacion:{
            type: Number,
            value: 0,
          },
          cuenta:{
            type:Object,
            value: {_id : "vacio", tipo:0},
          }
        }
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(nuevaOperacion.is, nuevaOperacion);
  </script>
</dom-module>
