<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="mis-cuentas.html">
<link rel="import" href="mis-tarjetas.html">
<link rel="import" href="mis-movimientos.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="posicion-global">
  <template>
    <style include="shared-styles">
        :host {
          display: block;
          padding: 10px;
        }

        paper-dialog.movimientos {
          position: fixed;
          top: 20vh;
          left: 9vw;
          width: 80vw;
          max-height: 50vh;
          overflow-y: auto;
        }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" ></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>


    <div hidden$="[[!storedUser.loggedin]]" class="card">
      <h1>Posición Global de [[storedUser.name]]</h1>
      <mis-cuentas dirty={{dirty}}></mis-cuentas>
      <!-- Aqui iremos añadiendo otros elementos de la posicion global, como las tarjetas o los fondos -->
      <br><br>
      <mis-tarjetas dirty={{dirty}}></mis-tarjetas>

    </div>

    <p hidden$="[[storedUser.loggedin]]">Debes <a href="/register-login">identificarte</a> para acceder</p>

    <paper-dialog id="consultar" class="movimientos">
        <mis-movimientos id="movimientos" cuenta=[[micuenta]]></mis-movimientos>
    </paper-dialog>

  </template>

  <script>
    class posicionGlobal extends Polymer.Element {
        static get is() { return 'posicion-global'; }

        static get properties() {
            return {
              storedUser: Object,
              micuenta: Object,
              dirty:Boolean
            }
        };

        ready() {
          this.addEventListener('openDialogEvent', function (e)   {
            console.log("Se ha recibido el evento openDialogEvent");
            this.micuenta = e.detail.cuenta
            this.$.movimientos.getMovimientos();
            this.$.consultar.open();
            console.log("Movimientos de: " + this.micuenta._id);
          });
          super.ready();
        }
    }

    window.customElements.define(posicionGlobal.is, posicionGlobal);
  </script>
</dom-module>
