<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      :root {
        --primary-color: #4285f4;
      }

      .card {
        margin: 24px;
        margin-right: 15vw;
        margin-left: 15vw;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      a,
      paper-button {
        font-weight: bold;
      }
      a {
        color: var(--primary-color);
      }
      paper-button {
        color: #fff;
      }
      paper-button.primary {
        background: var(--primary-color);
      }
      paper-button.link {
        color: #757575;
      }
      blockquote {
        border-left: 4px solid #eee;
        margin-left: 4px;
        padding-left: 20px;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
      }

      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }

              .wrapper-btns {
                margin-top: 15px;
              }

    </style>
  </template>
</dom-module>
